/*
  Coiot CSS Reset
  v1.4.0 (July 2024)
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

* {
	padding: 0;
	margin: 0;
	line-height: calc(0.2rem + 1em + 0.2rem);
}

html,
body {
	height: 100%;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	object-fit: cover;
}

svg {
	overflow: visible;

	&:focus {
		outline: none;
	}
}

:where(svg):where(:not([fill])) {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

input,
button,
textarea,
select {
	color: inherit;
	font-size: inherit;
	letter-spacing: inherit;
}

dialog {
	border: none;
}

::placeholder {
	color: unset;
}

menu {
	list-style: none;
}

table {
	border-collapse: collapse;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

textarea {
	white-space: revert;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	text-decoration-thickness: max(0em, 1px);
	text-underline-offset: 0.15em;
}

a,
button {
	cursor: revert;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
	cursor: pointer;
	touch-action: manipulation;
}

:where(input[type="file"]) {
	cursor: auto;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
	cursor: pointer;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
	text-align: center;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
	cursor: not-allowed;
}

:where([hidden]) {
	display: none;
}

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

:target {
	scroll-padding-block-start: 2rem;
}

:focus {
	scroll-padding-block-end: 8vh;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
